body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.form1 {
    background-color: rgba(255, 255, 255, 0.8); /* Gunakan warna latar belakang semi-transparan untuk konten */
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin: 30px;
}

.form1 p {
    font-size: 17px;
}

.form1 li {
    margin: 10px;
}

.form2 {
    background-color: rgba(255, 255, 255, 0.8); /* Gunakan warna latar belakang semi-transparan untuk konten */
    width: 800px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

label {
    font-weight: 900;
}

input[type="number"] {
    width: 100%;
    max-width: 300px; 
    padding: 12px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    margin: 20px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    margin-top: 20px; 
    text-align: center;
    width: 100%;
    background-color: rgb(93, 93, 93, 33%); 
    padding: 10px 0; 
    position: relative; 
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
}

footer .foot {
    display: inline-block; 
}

footer p, footer a {
    margin: 5px;
    color: #f4f4f4;
    display: inline;
}

@media only screen and (max-width: 768px) {
    .form p {
        margin: 12px
    }
    .form1 li {
        margin: 15px;
    }
    .form1 {
        width: 95%; /* Mengubah lebar menjadi 90% dari lebar viewport */
        /* height: 325px; Mengubah tinggi menjadi otomatis */
    }

    .form2 {
        width: 95%; /* Mengubah lebar menjadi 90% dari lebar viewport */
        /*max-width: 500px;  Lebar maksimum pada layar kecil */
        height: 500px; /* Mengubah tinggi menjadi otomatis */
    }

    .form1 h1 {
        font-size: 25px;
    }

    .form2 h1 {
        font-size: 25px
    }

    input[type="number"],
    button {
        width: 100%; /* Mengubah lebar input dan tombol menjadi 100% */
        max-width: 300px; /* Lebar maksimum pada layar kecil */
    }

    footer {
        font-size: 14px; /* Mengubah ukuran font footer pada layar kecil */
    }
}
